/* ---------------------Inscription----------------------- */
body{
    margin: 0;
    box-sizing: border-box;
}
.login, .signup{
    display: flex;
    align-items: center;
    height: 100vh;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}

/* Design bleu */
.login .ball{
    height: 32em;
    width: 24em;
    border-radius: 50%;
    position: absolute;
    background-color: #016FB9;
    top: -15em;
    left: -12em;
    transform: rotate(75deg);
    animation: ballAnimation 6s infinite ease-in-out;
}

.signup .ball{
    height: 32em;
    width: 24em;
    border-radius: 50%;
    position: absolute;
    background-color: #016FB9;
    top: -15em;
    left: -12em;
    transform: rotate(75deg);
    animation: ballAnimation 6s infinite ease-in-out;
}

.signup .ball2{
    height: 32em;
    width: 24em;
    border-radius: 50%;
    position: absolute;
    background-color: #016FB9;
    bottom: -15em;
    right: -12em;
    transform: rotate(75deg);
    animation: ballAnimation2 6s infinite ease-in-out;
}

@keyframes ballAnimation {
    0%{top:-15em}
    40%{top:-12em}
    50%{top:-12em}
    100%{top:-15em}
}
@keyframes ballAnimation2 {
    0%{right:-12em}
    60%{right:-10em}
    60%{right:-10em}
    90%{right:-12em}
    100%{right:-12em}
}

.signup .form{
    position: relative;
}
.login .form{
    position: relative;
}
.signup .close{
    position: absolute;
    right: 2em;
    top: 1.5em;
    color: red;
    font-weight: bold;
    padding: 4px 10px;
    background-color: #fff;
    border-radius: 4px;

}
.login .close2{
    position: absolute;
    right: 2em;
    top: 1.5em;
    color: red;
    font-weight: bold;
    padding: 4px 10px;
    background-color: #fff;
    border-radius: 4px;

}
/* Formulaire */

.signup .form{
    width: 35%;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    background-color: #3E3E3E;
    height: 80vh;
    border-radius: 2px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    z-index: 1;
    border-radius: 4px;
    margin-top: -2em;
}


/*------------------Responsive------------- */

@media screen and (max-width: 780px) {
    .signup .form{
        width: 85%;
        margin-left: auto;
        margin-right: auto;
        background-color: #fff;
        background-color: #3E3E3E;
        height: 80vh;
        border-radius: 2px;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        z-index: 1;
        border-radius: 4px;
        margin-top: -4em;
    }
}
/*------------------Fin du Responsive 780px------------- */

.signup .form h1{
    font-weight: 400;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    color: white;
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: center;
    font-weight: bold;
}

.signup form label{
    color: white;
}


.signup .form form{
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

/* Les inputs email et mot de passe */
.signup form .input{
    margin-bottom: 2em;
    height: 2em;
    padding: 8px 5px;
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1.5px solid rgb(137, 136, 136);
    outline: none;
    color: white;
    font-size: 14px;
    box-sizing: border-box;
}
.signup form .input::placeholder{
    color: rgb(147, 147, 147);
}
 
.signup .foot{
    margin-top: -3.5em;
}
.signup .foot .jaccepte{
    color: #016FB9;
}

.signup form button{
    padding: 0.8em 1.5em;
    border: none;
    background-color: #016FB9;
    font-weight: bold;
    color: white;
    margin-top: 1em;
    border-radius: 4px;

}
.signup form button:hover{
    cursor: pointer;

}

/* -----------------------------------------Partie connexion------------------------------------------ */


/* ---------------------Connexion----------------------- */

.login, .signup{
    display: flex;
    align-items: center;
    height: 100vh;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}

/* Design bleu */
.login .ball{
    height: 32em;
    width: 24em;
    border-radius: 50%;
    position: absolute;
    background-color: #016FB9;
    top: -15em;
    left: -12em;
    transform: rotate(75deg);
    animation: ballAnimation 6s infinite ease-in-out;
}

.login .ball{
    height: 32em;
    width: 24em;
    border-radius: 50%;
    position: absolute;
    background-color: #016FB9;
    top: -15em;
    left: -12em;
    transform: rotate(75deg);
    animation: ballAnimation 6s infinite ease-in-out;
}

.login .ball2{
    height: 32em;
    width: 24em;
    border-radius: 50%;
    position: absolute;
    background-color: #016FB9;
    bottom: -15em;
    right: -12em;
    transform: rotate(75deg);
    animation: ballAnimation2 6s infinite ease-in-out;
}


@keyframes ballAnimation {
    0%{top:-15em}
    40%{top:-12em}
    50%{top:-12em}
    100%{top:-15em}
}
@keyframes ballAnimation2 {
    0%{right:-12em}
    60%{right:-10em}
    60%{right:-10em}
    90%{right:-12em}
    100%{right:-12em}
}

/* Formulaire */

.login .form{
    width: 35%;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    background-color: #3E3E3E;
    height: 60vh;
    border-radius: 2px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    z-index: 1;
    border-radius: 4px;
    margin-top: -4em;
}

/*------------------Responsive------------- */

@media screen and (max-width: 950px) {
    .login .form{
        width: 45%;
        margin-left: auto;
        margin-right: auto;
        background-color: #fff;
        background-color: #3E3E3E;
        height: 60vh;
        border-radius: 2px;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        z-index: 1;
        border-radius: 4px;
        margin-top: -4em;
    }
}

@media screen and (max-width: 700px) {
    .login .form{
        width: 65%;
        margin-left: auto;
        margin-right: auto;
        background-color: #fff;
        background-color: #3E3E3E;
        height: 65vh;
        border-radius: 2px;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        z-index: 1;
        border-radius: 4px;
        margin-top: -4em;
    }
    .login .form h1{
        font-weight: 400;
        font-size: 20px;
        width: 85%;
        margin-left: auto;
        margin-right: auto;
        color: rgb(255, 255, 255);
        margin-top: 1em;
        margin-bottom: 1em;
        text-align: center;
        font-weight: bold;
    }

    .login .foot2 .jaccepte{
        color: #ffffff;
        font-size: 12px;
    }
    .login .foot2 .inscrit{
        color: #016FB9;
        text-decoration: none;
        font-size: 12px;
    
    }
    .login .foot2 .inscrit a{
        color: #016FB9;
        text-decoration: none;
    
    }
    .login form label{
        color: white;
        font-size: 13px;
    }
    .login .form button{
        padding: 0.4em 0.5em;
        border: none;
        font-size: 12px;
        font-weight: bold;
        color: white;
        margin-top: -9em;
        border-radius: 4px;
        transform: translateY(-2.6em);
    
    }
}

/*------------------Fin du Responsive 780px------------- */

.login .form h1{
    font-weight: 400;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    color: rgb(255, 255, 255);
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: center;
    font-weight: bold;
}

.login form label{
    color: white;
}


.login .form form{
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

/* Les inputs email et mot de passe */
.login form .input{
    margin-bottom: 2em;
    height: 2em;
    padding: 8px 5px;
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1.5px solid rgb(137, 136, 136);
    outline: none;
    color: white;
    font-size: 14px;
    box-sizing: border-box;
}
.login form .input::placeholder{
    color: rgb(147, 147, 147);
}
 
.login .foot2{
    margin-top: -4em;
}
.login .foot2 .jaccepte{
    color: #ffffff;
}
.login .foot2 .inscrit{
    color: #016FB9;
    text-decoration: none;

}
.login .foot2 .inscrit a{
    color: #016FB9;
    text-decoration: none;

}

.login form button{
    padding: 0.8em 1.5em;
    border: none;
    background-color: #016FB9;
    font-weight: bold;
    color: white;
    margin-top: -9em;
    border-radius: 4px;
    transform: translateY(-1.5em);

}
.login form button:hover{
    cursor: pointer;

}

