.directeurs {
    max-width: 80%;
    min-width: 500px;
    width: 100%;
    margin: 20px auto;
}

.img_direct {
    width: 100%;
    height: 230px;
    overflow: hidden;
}

.sect {
    width: 100%;
    min-height: 400px;
}

.carte_direct {
    width: 280px;
    height: 330px;
    border: solid 1px #ddd;
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.052);
    transition: .5s;
}

.carte_direct:hover {
    transform: scale(1.1);
}

.carte_direct img {
    width: 100%;
}

.sect1 {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.sect2 {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.sect p {
    line-height: 8px;
    text-align: center;
}

.sect .nom {
    font-size: 22px;
    margin-top: 20px;
}

.date {
    font-size: 14px;
}